.navbar-shadow{
    box-shadow: 0px -3px 17px 4px rgba(26,26,26,1);
}
.login-btn-nav{
    margin-left: 0.6rem;
     background-color: #ff8404;
      padding: 0.4rem 3vw;
}
.brand-name{
    color:#111111;
    font-weight: 800;
}
.dot-colored{
     color: #ff8404;
     font-size: 2rem;
     margin:auto 0;
}
.nav-link-left-btn{
    margin-right: 0.6rem;
}